<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sample Maven Web App</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>
  		FirstServlet
	</servlet-name>
  	<servlet-class>
  		com.fdmgroup.demo1.FirstServlet
 	</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>
  		FormHandler
	</servlet-name>
  	<servlet-class>
  		com.fdmgroup.demo1.FormServlet
 	</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>
  		SearchServlet
	</servlet-name>
  	<servlet-class>
  		com.fdmgroup.demo1.RandomSearchEngineServlet
 	</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>
  		ListGenerator
	</servlet-name>
  	<servlet-class>
  		com.fdmgroup.demo1.ListGenerator
 	</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>
  		ListPrinter
	</servlet-name>
  	<servlet-class>
  		com.fdmgroup.demo1.ListPrinter
 	</servlet-class>
  </servlet>  
  
  <servlet-mapping>
  	<servlet-name>
  		FirstServlet <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/hello <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>
  		FirstServlet <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/yams <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>
  		FormHandler <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/submitForm <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>
  		SearchServlet <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/search <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>
  		ListGenerator <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/listGenerator <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>
  		ListPrinter <!-- Name of servlet for deployer -->
  	</servlet-name>
  	<url-pattern>
  		/listPrinter <!--  Name of the public url pattern -->
  	</url-pattern>
  </servlet-mapping>
  
  
</web-app>
