<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sample Maven Web App</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>
  		com.fdmgroup.demo1.FirstServlet
 	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormHandler</servlet-name>
    <servlet-class>
  		com.fdmgroup.demo1.FormServlet
 	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>
  		com.fdmgroup.demo1.RandomSearchEngineServlet
 	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListGenerator</servlet-name>
    <servlet-class>
  		com.fdmgroup.demo1.ListGenerator
 	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPrinter</servlet-name>
    <jsp-file>
  			/WEB-INF/views/ListPrinter.jsp
  		</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>
  		/hello 
  	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>
  		/yams 
  	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormHandler</servlet-name>
    <url-pattern>
  		/submitForm 
  	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>
  		/search 
  	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListGenerator</servlet-name>
    <url-pattern>
  		/listGenerator 
  	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPrinter</servlet-name>
    <url-pattern>
  		/listPrinter 
  	</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.fdmgroup.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.fdmgroup.LifeCycleListener</listener-class>
  </listener>
</web-app>